*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  color: #34373a; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #ebe4de; }

.about__full-name {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 5rem; }

.about__first-name {
  color: #739695; }

.about__last-name {
  color: #34373a; }

.about__degrees {
  margin: 3rem 0 3rem; }

.about__degree {
  font-size: 2rem;
  margin: 1rem 0 1rem 0; }

.about__resume {
  margin: 2rem 0 3rem 0;
  font-size: 1.6rem; }

.about__contact {
  margin: 1rem 0 1rem 0; }

.about__contact-title {
  font-size: 2rem;
  margin-bottom: 1.5rem; }

.about__contact-socialnetwork {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start; }

.about__contact-social:not(:first-child) {
  margin-left: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.sidebar {
  height: 100%;
  width: 17.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #34373a;
  /* Black */
  overflow-x: hidden;
  padding-top: 20px; }
  .sidebar__avatar {
    margin: 4rem 0 4rem 0;
    clip-path: circle(40%);
    text-align: center; }
  .sidebar__element {
    font-size: 1.5rem;
    color: #fff;
    margin: auto 0;
    margin-top: 2rem;
    text-align: center;
    font-weight: 400; }
    .sidebar__element:hover {
      color: #d1cfcf;
      cursor: pointer; }
    .sidebar__element a {
      text-decoration: none;
      color: inherit; }

.content-area {
  display: grid;
  padding: 0 4% 0 4%;
  margin-left: 17.5%;
  overflow-x: hidden; }

.views > .view:target ~ .view:last-child, .views > .view {
  opacity: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: all .5s ease; }

.views > :last-child, .views > .view {
  transition: all .5s ease; }
  .views > :last-child:target, .views > .view:target {
    opacity: 1;
    height: auto; }

section {
  grid-column-start: 1;
  grid-row-start: 1; }
