// COLORS
$color-primary: #34373a;
$color-primary-light: #474a50;
$color-primary-dark: #191a1b;

$color-secondary: #90bcbb;
$color-secondary-light: #a2d1d0;
$color-secondary-dark: #739695;

$color-background: #ebe4de;

$color-gray: rgb(134, 134, 134);
$color-gray-light: rgb(209, 207, 207);

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;